/* animasi teks navbar */
.hover-underline {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.hover-underline::after {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    cursor: pointer;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link.active {
    border-bottom: 2px solid; 
}

/* end animasi teks navbar */